<ion-view view-title="目录">
  <ion-content class="padding">
    <h3>功能菜单</h3>
    <ion-list class="item" ui-sref="analyzeStreet">
      <span>解析街道</div>
        <i class="next-page ion-chevron-right"></i>
    </ion-list>
    <ion-list class="item" ui-sref="qrCode">
        <span>二维码生成</div>
          <i class="next-page ion-chevron-right"></i>
      </ion-list>
    <ion-list class="item" ui-sref="tingyun">
      <span>听云监测</div>
        <i class="next-page ion-chevron-right"></i>
    </ion-list>
  </ion-content>
</ion-view>