<ion-view view-title="Account">
  <ion-content>
    <div class="flex-container" flex="main:center cross:center dir:left" style="flex-wrap:wrap;">
      <div class="div-child" style="background-color:#FE0100;">第一块</div>
      <div class="div-child" style="background-color:#FFFF02;height:40px;">第二块</div>
      <div class="div-child" style="background-color:#008101;">第三块</div>
      <div class="div-child" style="background-color:#FD9A00;height:60px;order:-1;">第四块</div>
      <div class="div-child" style="background-color:#693AB5;">第五块</div>
      <div class="div-child" style="background-color:#2097F5;">第六块</div>
    </div>
  </ion-content>
</ion-view>