<ion-view>
        <!--外层最大容器-->
        <div class="wrap">
            <!--包裹所有元素的容器-->
            <div class="cube">
                <!--前面图片 -->
                <div class="out_front">
                    <img src="http://img.blog.csdn.net/20170716094246620" class="pic" />
                </div>
                <!--后面图片 -->
                <div class="out_back">
                    <img src="http://img.blog.csdn.net/20170716094334594" class="pic" />
                </div>
                <!--左面图片 -->
                <div class="out_left">
                    <img src="http://img.blog.csdn.net/20170716094400013" class="pic" />
                </div>
                <!--右面图片 -->
                <div class="out_right">
                    <img src="http://img.blog.csdn.net/20170716094422331" class="pic" />
                </div>
                <!--上面图片 -->
                <div class="out_top">
                    <img src="http://img.blog.csdn.net/20170716094444434" class="pic" />
                </div>
                <!--下面图片 -->
                <div class="out_bottom">
                    <img src="http://img.blog.csdn.net/20170716094504432" class="pic" />
                </div>
            </div>
        </div>
</ion-view>