/* Empty. Add your own CSS if you like */


/*------------------css魔方start-------------------*/

.wrap {
    width: 200px;
    height: 200px;
    margin: 200px auto;
    position: relative;
}

.cube {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-80deg);
    animation: rotate linear 20s infinite;
}

@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.8;
    transition: all .4s;
}

.pic {
    width: 200px;
    height: 200px;
}

.cube .out_front {
    transform: rotateY(0deg) translateZ(100px);
}

.cube .out_back {
    transform: translateZ(-100px) rotateY(180deg);
}

.cube .out_left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube .out_right {
    transform: rotateY(90deg) translateZ(100px);
}

.cube .out_top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube .out_bottom {
    transform: rotateX(-90deg) translateZ(100px);
}


/*定义小正方体样式*/

.cube span {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.cube .in_pic {
    width: 100px;
    height: 100px;
}

.cube .in_front {
    transform: rotateY(0deg) translateZ(50px);
}

.cube .in_back {
    transform: translateZ(-50px) rotateY(180deg);
}

.cube .in_left {
    transform: rotateY(-90deg) translateZ(50px);
}

.cube .in_right {
    transform: rotateY(90deg) translateZ(50px);
}

.cube .in_top {
    transform: rotateX(90deg) translateZ(50px);
}

.cube .in_bottom {
    transform: rotateX(-90deg) translateZ(50px);
}


/* .cube:hover .out_front {
                transform: rotateY(0deg) translateZ(200px);
            }
    
            .cube:hover .out_back {
                transform: translateZ(-200px) rotateY(180deg);
            }
    
            .cube:hover .out_left {
                transform: rotateY(-90deg) translateZ(200px);
            }
    
            .cube:hover .out_right {
                transform: rotateY(90deg) translateZ(200px);
            }
    
            .cube:hover .out_top {
                transform: rotateX(90deg) translateZ(200px);
            }
    
            .cube:hover .out_bottom {
                transform: rotateX(-90deg) translateZ(200px);
            } */


/*------------------css魔方end-------------------*/

.div-child {
    margin: 5px;
    height: 80px;
    width: 60px;
}

.next-page {
    float: right;
}


/*************************中奖纪录展示start************************/


/*第一种*/

.box {
    width: 100%;
    margin: auto;
    background-color: #00b7ee;
}

.record_title {
    text-align: center;
    width: 100%;
    height: 2rem;
    margin-top: 0.2rem;
    z-index: 2;
    background-color: #00b7ee;
    vertical-align: middle;
}

.record_list {
    height: 11rem;
    overflow: hidden;
    background-color: #00b7ee;
    text-align: left;
    margin-left: 1rem;
}


/*第二种*/

.bcon {
    width: 100%;
    border: 30px solid #00b7ee;
    position: absolute;
    top: 30px;
    border-radius: 20px;
}

.bcon h1 {
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    background: #00b7ee;
}

.bcon h1 b {
    font: bold 14px/40px '宋体';
    padding: 0 20px;
    margin-top: -1px;
    display: inline-block;
    color: #fff;
    font-size: 30px;
}

.list_lh {
    height: 400px;
    overflow: hidden;
}

.list_lh li {
    padding: 10px;
    background: #e5e5e5;
    border-bottom: 1px solid #fff;
}

.list_lh li p {
    height: 24px;
    line-height: 24px;
    margin-left: 15px;
}


/*************************中奖纪录展示end************************/